In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
print(dict)

<class 'dict'>

In [4]:
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [5]:
dict1 ={
    "name": ['harry', 'rohan', 'skillf', 'shubham'],
    "marks": [92, 34, 24, 2],
    "city": ['rampur', 'kolkata', 'delhi', 'bareilly']
}

In [6]:
df = pd.DataFrame(dict1)
print(df)

      name  marks      city
0    harry     92    rampur
1    rohan     34   kolkata
2   skillf     24     delhi
3  shubham      2  bareilly

In [7]:
# What is Dataframe?
# Dataframe is a 2D data structure, i.e., data is aligned in a tabular fashion in rows and columns.

In [8]:
df.to_csv('friends.csv')

In [9]:
df.to_csv('friends_index_false.csv', index=False)

In [10]:
df = pd.DataFrame(dict1, index=['rank1', 'rank2', 'rank3', 'rank4'])

In [11]:
print(df)

          name  marks      city
rank1    harry     92    rampur
rank2    rohan     34   kolkata
rank3   skillf     24     delhi
rank4  shubham      2  bareilly

In [12]:
df.tail(2)

          name  marks      city
rank3   skillf     24     delhi
rank4  shubham      2  bareilly

In [13]:
df.describe

<bound method NDFrame.describe of           name  marks      city
rank1    harry     92    rampur
rank2    rohan     34   kolkata
rank3   skillf     24     delhi
rank4  shubham      2  bareilly>

In [14]:
df.describe()

           marks
count   4.000000
mean   38.000000
std    38.401389
min     2.000000
25%    18.500000
50%    29.000000
75%    48.500000
max    92.000000

In [15]:
df1 = pd.read_csv('friends.csv')
print(df1)

   Unnamed: 0     name  marks      city
0           0    harry     92    rampur
1           1    rohan     34   kolkata
2           2   skillf     24     delhi
3           3  shubham      2  bareilly

In [16]:
print(df)

          name  marks      city
rank1    harry     92    rampur
rank2    rohan     34   kolkata
rank3   skillf     24     delhi
rank4  shubham      2  bareilly

In [17]:
df = pd.read_csv('friends.csv', index_col=0)
print(df)

      name  marks      city
0    harry     92    rampur
1    rohan     34   kolkata
2   skillf     24     delhi
3  shubham      2  bareilly

In [18]:
df1 = pd.read_csv('friends.csv', index_col=0)
print(df1)

      name  marks      city
0    harry     92    rampur
1    rohan     34   kolkata
2   skillf     24     delhi
3  shubham      2  bareilly

In [19]:
df1.index = ['rank1', 'rank2', 'rank3', 'rank4']
print(df1)

          name  marks      city
rank1    harry     92    rampur
rank2    rohan     34   kolkata
rank3   skillf     24     delhi
rank4  shubham      2  bareilly

In [20]:
df1.to_csv('friends2.csv')

In [21]:
df1.to_csv('friends2.csv', header=False)

In [22]:
# what is series?
# series is a one dimensional data structure
# series is like a column in excel sheet
# series is like a list
# series is like a numpy array
# series is like a dictionary

In [23]:
newdf = pd.DataFrame(np.random.rand(334, 5), index=np.arange(334))
print(newdf)

            0         1         2         3         4
0    0.882107  0.848544  0.958626  0.819972  0.427472
1    0.017274  0.590288  0.072651  0.993683  0.028392
2    0.412607  0.323754  0.421337  0.028992  0.389585
3    0.305912  0.965911  0.963764  0.200196  0.072753
4    0.001931  0.858054  0.771728  0.131540  0.624276
..        ...       ...       ...       ...       ...
329  0.048996  0.227047  0.687367  0.432724  0.598392
330  0.143309  0.429568  0.574996  0.388265  0.895321
331  0.525714  0.835025  0.118896  0.002920  0.207926
332  0.117979  0.600599  0.389956  0.480487  0.808186
333  0.409260  0.820175  0.159087  0.347459  0.420806

[334 rows x 5 columns]

In [24]:
ser = pd.Series(np.random.rand(34))
print(ser)

0     0.058100
1     0.222896
2     0.724720
3     0.867176
4     0.548300
5     0.514871
6     0.428644
7     0.071386
8     0.646023
9     0.077374
10    0.991983
11    0.986647
12    0.289626
13    0.424555
14    0.775842
15    0.947242
16    0.086711
17    0.757847
18    0.042232
19    0.855258
20    0.029517
21    0.914495
22    0.824082
23    0.100659
24    0.678025
25    0.299757
26    0.833370
27    0.513003
28    0.172046
29    0.465218
30    0.304844
31    0.860527
32    0.696915
33    0.982006
dtype: float64

In [26]:
# numpy.random.rand(d0, d1, …, dn)
# Random values in a given shape.
# Create an array of the given shape and populate it with random samples from a uniform distribution over [0, 1).

# numpy.arange([start, ]stop, [step, ]dtype=None)
# Return evenly spaced values within a given interval.

# numpy.random.rand(n1,n2)
# Return random floats in the half-open interval [0.0, 1.0). Results are from the “continuous uniform” distribution over the stated interval. To sample Unif[a, b), b > a multiply the output of random_sample by (b-a) and add a:

In [27]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [28]:
newdf.head(3)

          0         1         2         3         4
0  0.882107  0.848544  0.958626  0.819972  0.427472
1  0.017274  0.590288  0.072651  0.993683  0.028392
2  0.412607  0.323754  0.421337  0.028992  0.389585

In [29]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [30]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [31]:
newdf.to_clipboard()

In [32]:
newdf.values()

TypeError: 'numpy.ndarray' object is not callable

In [33]:
newdf = pd.DataFrame(np.random.rand(334, 5), index=np.arange(334), columns=list('ABCDE'))
print(newdf)

            A         B         C         D         E
0    0.674788  0.752651  0.728407  0.466735  0.184277
1    0.094863  0.807772  0.800722  0.592486  0.058475
2    0.576746  0.664259  0.625490  0.606980  0.551165
3    0.648575  0.126615  0.785787  0.856361  0.446862
4    0.677665  0.707367  0.576106  0.757430  0.101934
..        ...       ...       ...       ...       ...
329  0.184897  0.939725  0.539705  0.019784  0.524587
330  0.982734  0.859804  0.767068  0.512855  0.602677
331  0.421230  0.773069  0.067055  0.328559  0.524235
332  0.800100  0.388618  0.204683  0.263769  0.792540
333  0.941215  0.847235  0.683526  0.778754  0.274978

[334 rows x 5 columns]

In [34]:
newdf.to_numpy()

array([[0.67478798, 0.75265146, 0.72840684, 0.46673523, 0.18427737],
       [0.09486338, 0.80777195, 0.80072176, 0.59248573, 0.05847542],
       [0.57674581, 0.66425873, 0.62548997, 0.60697955, 0.55116536],
       ...,
       [0.42122953, 0.77306916, 0.06705489, 0.32855915, 0.52423481],
       [0.80010036, 0.38861811, 0.204683  , 0.26376947, 0.79254002],
       [0.94121532, 0.84723509, 0.68352583, 0.778754  , 0.27497797]])

In [35]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
A,0.674788,0.094863,0.576746,0.648575,0.677665,0.207432,0.629297,0.074518,0.499907,0.753535,...,0.184100,0.331562,0.149351,0.318967,0.707377,0.184897,0.982734,0.421230,0.800100,0.941215
B,0.752651,0.807772,0.664259,0.126615,0.707367,0.704507,0.293907,0.795958,0.484748,0.170171,...,0.053366,0.458632,0.580526,0.750709,0.864137,0.939725,0.859804,0.773069,0.388618,0.847235
C,0.728407,0.800722,0.625490,0.785787,0.576106,0.743309,0.423103,0.000808,0.569467,0.752866,...,0.529656,0.125938,0.811582,0.668204,0.774321,0.539705,0.767068,0.067055,0.204683,0.683526
D,0.466735,0.592486,0.606980,0.856361,0.757430,0.635683,0.811436,0.718193,0.598399,0.531089,...,0.733442,0.840168,0.629049,0.670668,0.934090,0.019784,0.512855,0.328559,0.263769,0.778754
E,0.184277,0.058475,0.551165,0.446862,0.101934,0.716163,0.872882,0.318352,0.690685,0.388162,...,0.769020,0.816752,0.828365,0.377212,0.709698,0.524587,0.602677,0.524235,0.792540,0.274978

In [36]:
newdf.sort_index

<bound method DataFrame.sort_index of             A         B         C         D         E
0    0.674788  0.752651  0.728407  0.466735  0.184277
1    0.094863  0.807772  0.800722  0.592486  0.058475
2    0.576746  0.664259  0.625490  0.606980  0.551165
3    0.648575  0.126615  0.785787  0.856361  0.446862
4    0.677665  0.707367  0.576106  0.757430  0.101934
..        ...       ...       ...       ...       ...
329  0.184897  0.939725  0.539705  0.019784  0.524587
330  0.982734  0.859804  0.767068  0.512855  0.602677
331  0.421230  0.773069  0.067055  0.328559  0.524235
332  0.800100  0.388618  0.204683  0.263769  0.792540
333  0.941215  0.847235  0.683526  0.778754  0.274978

[334 rows x 5 columns]>

In [37]:
newdf.sort_index(axis=1, ascending=False)

            E         D         C         B         A
0    0.184277  0.466735  0.728407  0.752651  0.674788
1    0.058475  0.592486  0.800722  0.807772  0.094863
2    0.551165  0.606980  0.625490  0.664259  0.576746
3    0.446862  0.856361  0.785787  0.126615  0.648575
4    0.101934  0.757430  0.576106  0.707367  0.677665
..        ...       ...       ...       ...       ...
329  0.524587  0.019784  0.539705  0.939725  0.184897
330  0.602677  0.512855  0.767068  0.859804  0.982734
331  0.524235  0.328559  0.067055  0.773069  0.421230
332  0.792540  0.263769  0.204683  0.388618  0.800100
333  0.274978  0.778754  0.683526  0.847235  0.941215

[334 rows x 5 columns]

In [38]:
newdf.sort_index(axis=0, ascending=False)

            A         B         C         D         E
333  0.941215  0.847235  0.683526  0.778754  0.274978
332  0.800100  0.388618  0.204683  0.263769  0.792540
331  0.421230  0.773069  0.067055  0.328559  0.524235
330  0.982734  0.859804  0.767068  0.512855  0.602677
329  0.184897  0.939725  0.539705  0.019784  0.524587
..        ...       ...       ...       ...       ...
4    0.677665  0.707367  0.576106  0.757430  0.101934
3    0.648575  0.126615  0.785787  0.856361  0.446862
2    0.576746  0.664259  0.625490  0.606980  0.551165
1    0.094863  0.807772  0.800722  0.592486  0.058475
0    0.674788  0.752651  0.728407  0.466735  0.184277

[334 rows x 5 columns]

In [39]:
newdf[0]

KeyError: 0

In [40]:
newdf.loc[0,0]=654
print(newdf)

            A         B         C         D         E      0
0    0.674788  0.752651  0.728407  0.466735  0.184277  654.0
1    0.094863  0.807772  0.800722  0.592486  0.058475    NaN
2    0.576746  0.664259  0.625490  0.606980  0.551165    NaN
3    0.648575  0.126615  0.785787  0.856361  0.446862    NaN
4    0.677665  0.707367  0.576106  0.757430  0.101934    NaN
..        ...       ...       ...       ...       ...    ...
329  0.184897  0.939725  0.539705  0.019784  0.524587    NaN
330  0.982734  0.859804  0.767068  0.512855  0.602677    NaN
331  0.421230  0.773069  0.067055  0.328559  0.524235    NaN
332  0.800100  0.388618  0.204683  0.263769  0.792540    NaN
333  0.941215  0.847235  0.683526  0.778754  0.274978    NaN

[334 rows x 6 columns]

In [41]:
newdf.drop(0,axis=0)

            A         B         C         D         E   0
1    0.094863  0.807772  0.800722  0.592486  0.058475 NaN
2    0.576746  0.664259  0.625490  0.606980  0.551165 NaN
3    0.648575  0.126615  0.785787  0.856361  0.446862 NaN
4    0.677665  0.707367  0.576106  0.757430  0.101934 NaN
5    0.207432  0.704507  0.743309  0.635683  0.716163 NaN
..        ...       ...       ...       ...       ...  ..
329  0.184897  0.939725  0.539705  0.019784  0.524587 NaN
330  0.982734  0.859804  0.767068  0.512855  0.602677 NaN
331  0.421230  0.773069  0.067055  0.328559  0.524235 NaN
332  0.800100  0.388618  0.204683  0.263769  0.792540 NaN
333  0.941215  0.847235  0.683526  0.778754  0.274978 NaN

[333 rows x 6 columns]

In [42]:
newdf.drop(0,axis=1)

            A         B         C         D         E
0    0.674788  0.752651  0.728407  0.466735  0.184277
1    0.094863  0.807772  0.800722  0.592486  0.058475
2    0.576746  0.664259  0.625490  0.606980  0.551165
3    0.648575  0.126615  0.785787  0.856361  0.446862
4    0.677665  0.707367  0.576106  0.757430  0.101934
..        ...       ...       ...       ...       ...
329  0.184897  0.939725  0.539705  0.019784  0.524587
330  0.982734  0.859804  0.767068  0.512855  0.602677
331  0.421230  0.773069  0.067055  0.328559  0.524235
332  0.800100  0.388618  0.204683  0.263769  0.792540
333  0.941215  0.847235  0.683526  0.778754  0.274978

[334 rows x 5 columns]

In [44]:
newdf.loc(newdf['A']>0.1 & newdf['B']>0.1).head(3)

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

In [45]:
newdf.head(2)

          A         B         C         D         E      0
0  0.674788  0.752651  0.728407  0.466735  0.184277  654.0
1  0.094863  0.807772  0.800722  0.592486  0.058475    NaN

In [46]:
newdf.drop(0,axis=0)

            A         B         C         D         E   0
1    0.094863  0.807772  0.800722  0.592486  0.058475 NaN
2    0.576746  0.664259  0.625490  0.606980  0.551165 NaN
3    0.648575  0.126615  0.785787  0.856361  0.446862 NaN
4    0.677665  0.707367  0.576106  0.757430  0.101934 NaN
5    0.207432  0.704507  0.743309  0.635683  0.716163 NaN
..        ...       ...       ...       ...       ...  ..
329  0.184897  0.939725  0.539705  0.019784  0.524587 NaN
330  0.982734  0.859804  0.767068  0.512855  0.602677 NaN
331  0.421230  0.773069  0.067055  0.328559  0.524235 NaN
332  0.800100  0.388618  0.204683  0.263769  0.792540 NaN
333  0.941215  0.847235  0.683526  0.778754  0.274978 NaN

[333 rows x 6 columns]

In [47]:
newdf.drop(0,axis=1)

            A         B         C         D         E
0    0.674788  0.752651  0.728407  0.466735  0.184277
1    0.094863  0.807772  0.800722  0.592486  0.058475
2    0.576746  0.664259  0.625490  0.606980  0.551165
3    0.648575  0.126615  0.785787  0.856361  0.446862
4    0.677665  0.707367  0.576106  0.757430  0.101934
..        ...       ...       ...       ...       ...
329  0.184897  0.939725  0.539705  0.019784  0.524587
330  0.982734  0.859804  0.767068  0.512855  0.602677
331  0.421230  0.773069  0.067055  0.328559  0.524235
332  0.800100  0.388618  0.204683  0.263769  0.792540
333  0.941215  0.847235  0.683526  0.778754  0.274978

[334 rows x 5 columns]

In [48]:
newdf

            A         B         C         D         E      0
0    0.674788  0.752651  0.728407  0.466735  0.184277  654.0
1    0.094863  0.807772  0.800722  0.592486  0.058475    NaN
2    0.576746  0.664259  0.625490  0.606980  0.551165    NaN
3    0.648575  0.126615  0.785787  0.856361  0.446862    NaN
4    0.677665  0.707367  0.576106  0.757430  0.101934    NaN
..        ...       ...       ...       ...       ...    ...
329  0.184897  0.939725  0.539705  0.019784  0.524587    NaN
330  0.982734  0.859804  0.767068  0.512855  0.602677    NaN
331  0.421230  0.773069  0.067055  0.328559  0.524235    NaN
332  0.800100  0.388618  0.204683  0.263769  0.792540    NaN
333  0.941215  0.847235  0.683526  0.778754  0.274978    NaN

[334 rows x 6 columns]

In [49]:
newdf.loc(newdf['A']>0.1 & newdf['B']>0.1).head(3)

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

In [50]:
newdf = newdf.drop(0, axis=1)

In [51]:
newdf

            A         B         C         D         E
0    0.674788  0.752651  0.728407  0.466735  0.184277
1    0.094863  0.807772  0.800722  0.592486  0.058475
2    0.576746  0.664259  0.625490  0.606980  0.551165
3    0.648575  0.126615  0.785787  0.856361  0.446862
4    0.677665  0.707367  0.576106  0.757430  0.101934
..        ...       ...       ...       ...       ...
329  0.184897  0.939725  0.539705  0.019784  0.524587
330  0.982734  0.859804  0.767068  0.512855  0.602677
331  0.421230  0.773069  0.067055  0.328559  0.524235
332  0.800100  0.388618  0.204683  0.263769  0.792540
333  0.941215  0.847235  0.683526  0.778754  0.274978

[334 rows x 5 columns]

In [52]:
# inplace=True
# If True, do operation inplace and return None.
# inplace=False
# If False, return a copy.

In [53]:
# iloc
# Purely integer-location based indexing for selection by position.
# .iloc[] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

In [54]:
newdf.iloc[0:3, 0:2]

          A         B
0  0.674788  0.752651
1  0.094863  0.807772
2  0.576746  0.664259

In [55]:
newdf = newdf.iloc[0:3, 0:2]
newdf

          A         B
0  0.674788  0.752651
1  0.094863  0.807772
2  0.576746  0.664259

In [56]:
newdf.to_csv("newdf.csv")

In [57]:
newdf.loc[0:2, 'A':'B']

          A         B
0  0.674788  0.752651
1  0.094863  0.807772
2  0.576746  0.664259

In [58]:
#loc is label based, which means that we have to specify the name of the rows and columns that we need to filter out.
# example of loc
# df.loc[rows, columns]

In [59]:
newdf.loc[0,0]=654

In [60]:
newdf

          A         B      0
0  0.674788  0.752651  654.0
1  0.094863  0.807772    NaN
2  0.576746  0.664259    NaN

In [61]:
newdf.drop(0, axis=1)

          A         B
0  0.674788  0.752651
1  0.094863  0.807772
2  0.576746  0.664259

In [62]:
newdf.dropna()

          A         B      0
0  0.674788  0.752651  654.0

In [63]:
# dropna
# Remove missing values.
# Return object with labels on given axis omitted where alternately any or all of the data are missing.

In [64]:
newdf.drop_duplicates()

          A         B      0
0  0.674788  0.752651  654.0
1  0.094863  0.807772    NaN
2  0.576746  0.664259    NaN

In [65]:
df.shape

(4, 3)

In [66]:
df.info

<bound method DataFrame.info of       name  marks      city
0    harry     92    rampur
1    rohan     34   kolkata
2   skillf     24     delhi
3  shubham      2  bareilly>

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   marks   4 non-null      int64
 2   city    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

In [68]:
df.describe

<bound method NDFrame.describe of       name  marks      city
0    harry     92    rampur
1    rohan     34   kolkata
2   skillf     24     delhi
3  shubham      2  bareilly>

In [69]:
df.describe()

           marks
count   4.000000
mean   38.000000
std    38.401389
min     2.000000
25%    18.500000
50%    29.000000
75%    48.500000
max    92.000000

In [70]:
newdf.notnull()

      A     B      0
0  True  True   True
1  True  True  False
2  True  True  False

In [71]:
# create a dataframe which contains only integers with 5 rows and 5 columns
# run the following commands
# df.shape
# df.info
# df.describe
# df.describe()
# df.notnull()
# df.isnull()
# df.isnull().sum()
# df.isnull().sum().sum()
# df.isnull().sum().sum()/df.size
# df.max()
# df.min()
# df.mean()
# df.median()
# df.std()
# df.var()
# df.corr()
# df.cov()
# df.count()
# df.count(axis=1)
# df.count(axis=0)
# df.count(axis=1).sum()
# df.count(axis=0).sum()
# df.count(axis=1).sum()/df.size
# df.count(axis=0).sum()/df.size
# df.sum()